<div id="Container"></div>
<div id="musicbutton" style="color:white" name="MyMusicButton"></div>
<!--<div style="z-index:1000;position:fixed;top:60px;left:10px;width:90px;color:white;font-size:15px;text-align:center" id="timesplayed"></div>-->
<div style="z-index:1000;position:fixed;top:60px;right:0px;" id="holdtoggle" x-mojo-element="ToggleButton" class="toggle-text"></div>
<div style="z-index:1000;position:fixed;top:105px;right:0px;" id="shaketoggle" x-mojo-element="ToggleButton" class="toggle-text"></div>
<div style="z-index:1000;position:fixed;top:160px;right:10px;width:90px;color:white;font-size:15px;text-align:center" id="hint"><b>Tap</b> the Vuvuzela to play</div>
<div style="z-index:1000;position:fixed;bottom:0;left:0px;width:320px;height:30px;color:white;font-size:22px;text-align:center;text-decoration:underline" id="proversion">Get the Pro Version Now!</div>
<audio id="audio-media" controls="false" x-palm-media-audio-class="media">

